footer{
	position: relative;
	top: 50%;
	height: 70px;
	padding-top: 10px;
}

.row{
	margin:0;
	margin-bottom: 0px;
}

.container .row {
	margin-left: 0;
	margin-right: 0;
}

#logoimage {
	height: 250px;
	width: 250px;
	border-radius: 50%;
}

.container {
	width: 100%;
	margin:0;
}

#artist {
	border-radius: 50%;
}
/*.artistimg {
	height: 200px;
	width: 600px;
}*/







